<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>フォーム</title>
  </head>
  <body>
    <form action="/save" method="post" enctype="multipart/form-data">
      コメント：<input type="text" name="sample_text" required>
      <input type="file" name="upimg">
      <input type="submit" value="送信するぜ！">
    </form>
    <a href="/logout">ログアウト</a>
  </body>
</html>
