<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>新規登録</title>
  </head>
  <body>
    <form action="/signup" method="post">
      新規ユーザー名： <input type="text" name="signup_name" required>
      新規パスワード： <input type="password" name="signup_pass" required>
      <input type="submit" value="登録">
    </form>
    <a href="/signup">新規登録</a>
  </body>
</html>
